body {
    background-image: url(./src/images/orange\ round.jpg);
    flex-flow: wrap;
   
}

header ul {
display: flex;
gap: 26px;
    list-style: none;
justify-content: flex-end;
background: #1f2937, transparent;
}

img {
align-self: stretch;
flex-flow: wrap;

}

h2 {
    color: antiquewhite;
    text-align: center;
    padding-bottom: 80px;
    
}
.cards {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-flow: row wrap;
    
}

.content-img {
    width: 144px;
    height: 144px;
    background-image: linear-gradient(180deg, green, rgba(29, 82, 38, 0));
    border-radius: 20px;
    transition: ease 0.1s;

}

.content-img:hover {
    transform: scale(0.95);
}
.content {   
    align-self: center;
    justify-content: center;
    background-color: #1f2937;
   opacity: 80%;
   padding-top: 100px;
   padding-bottom: 100px;
   margin-top: 100px;
   
  
}
.card {
    max-width: 200px;
    background-color: #1f293700;
    transition: ease-in .5s;
    color: antiquewhite;
    
}



.card:hover {
    color: #f9faf8;
}

a {
    text-decoration: none;
    color: antiquewhite;

}
a:visited {
    color: antiquewhite;
}

#image {
  padding-left: -50px;
  margin-left: -50px;
}


header, .intro, .footer, .left-links, main
{
 background:  #1f2937, transparent;
 color: antiquewhite;

}

 ul {
justify-content: space-around;
padding-top: 40px
 }

 .small, .smalls {
    line-height: 0;
   border: 0;
 }

 .small {
    padding-top: 30px;
    font-size: 16px;
 }

 .smalls {
    padding-bottom: 20px;
    font-weight: 200;
 }
.sign-up-section, footer {
    display: flex;
   justify-content: center;
   align-items: center;
    flex-flow: row wrap;
    gap: 30px;
    color: white;
}
.sign-up {
    border-color: white;
    border-width: 2px;

}
span {
  margin-left: 200px;
  margin-right: 200px;

}
.quote {
    background-color: #48484bee;
    opacity:90%;
  color: white;
font-style: italic;
font-weight: light;
  font: 48px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 200px;
}
h1 {
    font-size: 48px;
    font-weight: extra-bold;
}
.left-links {
    font: 18px;
}
.ul {
    margin-right: 10px;
}
.main {
    margin-left: 80px;
    margin-right: 80px;
    display: flexbox;
    font-size: 18px;
    align-content: flex-end;
    margin-bottom: 100px;
    margin-top: 80px;
   
    
}
#logo {
    align-content: flex-start;
   margin-left: -50px;
   position: fixed, left;

}

 #btn {
    margin-left: 0px;
 }  

.author {
    text-align: end;
    margin-right: 150px;
    font-size: 36px;
    padding-right: 100px;
        padding-left: 100px;
    font-weight: 300;

}
#author {
    font-size: 40px;
    text-align: center;
    font-weight: 300;
    padding-right: 200px;
        padding-left: 200px;
        line-height: 100%;
}

footer {
    text-align: center;
}

#middle {
    align-content: center;
    margin-right: 200px;
}

.intro {
    margin-left: 200px;
}